div{
    border:1px solid black;
}

.wrapper{
    justify-content: space-between; 
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    
}
#box1{
    align-content: space-around; 
    background-color: green;
}
#box2{
    align-content: space-around; 
    background-color: green;
}
#box3{
    align-content: space-around; 
    background-color: green;
}
#box4{
    align-content: space-around; 
    background-color: green;
}
#box5{
    align-content: space-around; 
    background-color: green;
}
.wrappper{
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    display: grid;
    grid-auto-rows: 100px;
}
#boxx1{
    grid-area: auto;
    background-color: red;
}
#boxx2{
    grid-area: auto;
    background-color: red;
}
#boxx3{
    grid-area: auto;
    background-color: red;
}
#boxx4{
    grid-area: auto;
    background-color: red;
}
#boxx5{
    grid-area: auto;
    background-color: red;

}