div{
    border:1px solid black;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: 100px;
}
#box1{
    grid-area: auto;
    background-color: red;
}
#box2{
    grid-area:auto;
    background-color: red;
}
#box3{
    grid-area:auto;
    background-color: red;
}
#box4{
    grid-area:auto;
    background-color: red;
}
#box5{
    grid-area:auto;
    background-color: red;
}
.wrappper{
    display: grid;

    grid-auto-rows: 100px;
}
#boxx1{
    grid-row: 1;
    grid-column: 1 / 5;
    background-color: green;
}
#boxx2{
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    background-color: green;
}
#boxx3{
    grid-row: 2;
    background-color: green;
}
#boxx4{
    grid-row: 2;
    background-color: green;
}
#boxx5{
    grid-row: 3;
    grid-column: 3;
    background-color: green;
}