ul {
    list-style-type: none;
    display: inline-block;
  }

li {
    display: inline-block;
  }
  body {background-color:white;}
  h1 {
    color: white;
  }
.topnav{
    text-align: center;
    background-color: black;
    height: 50px;
}
h1{
  text-align:center;
  color:black;
}

.botbar {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:50px;
}
.lomake{
  text-align: center;
  color:black;
}
.submit {
  width: 75px;
  height: 25px;
}
a{
  color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
  text-align: center;
}